body {
    background-color: black;
    padding-top: 70px;
    color: rgb(150, 150, 150);
    font-family: "Verdana", Times, sans-serif;
}

div {
    background-color: black;
}

.HearthstoneBox {
    background-image: url(../imgs/Hearthstone_Paladin.jpg);
}

.jumbotron {
    background-color: black;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 0px;
    color: rgb(225, 225, 225);
    font-family: "Courier New", Times, monospace;
}


.img {
    vertical-align: middle;
    height : 100%;
    width : 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    color: rgb(0, 100, 255);
}

h2 {
    text-align: center;
    font-size: 17px;
}

.subheadings {
    font-size: 25px;
}

.content {
    font-size: 14px;
}

.copyright {
    font-size: 10px;
    text-align: center;
}

.title {
    font-size: 18px;
    text-align: center;
    color: rgb(225, 225, 225);
}

a:link, a:visited {
    color: rgb(0, 100, 250);
    text-align: center;
}

hr {
    border: 2px solid rgb(0, 100, 255);
}